*{
 margin: 0;
padding: 0;
}
  
.cabecalho{
    background: #d4c21a;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.imagem-cabecalho{
    width: 20%;
}

.cabecalho-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

}
.escola-imagem{
width: 320px;
height: 313px;
}

.escola{
    background-image: linear-gradient(#d4c21a,#ffffff);
    color: rgb(0, 0, 0);
    display: flex;
}


    .conteudo{
        width: 35%;
    }